 <!DOCTYPE html>
 <html lang="pt-br">
 <head>
 	<meta charset="utf-8">
 	<meta name="viewport" content="width=device-width, initial -scale=1.0">
 	<title>Cervejaria - Projeto final Programação WEB I</title>
 	<link rel="icon" href="img/fav.png">
 	<!-- GOOGLE ICONS -->
 	 <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

 	<!-- MATERIALIZE CSS -->
 	    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

 	<!-- CUSTOM CSS -->
 	<link rel="stylesheet" type="text/css" href="css/custom.css">
 </head>
 <body>

 	<!-- HEADER-->

 	<header>
 		
 				

 		<div class="navbar-fixed">
 		<nav class="navbar z-depth-0">
 			<div class="nav-wrapper container">
 				<h1 class="logo-text">Cervejaria Schimdt - A melhor cerveja</h1>
 				<a href=""><img class="logo-img" 
 					src="img/logo-01.png" alt="Cervejaria"></a>

 					<ul class="right light  hide-on-med-and-down">
 
 						
 						<li><a href="form_listar_produto.php">Produtos</a></li>
            <li><a href="form_listar_clientes.php">Clientes</a></li>
            <li><a href="form_listar_adiministrador.php">Administrador</a></li>
            <li><a href="#sobre">Sobre</a></li>
 					</ul>


 			</div>
 		</nav>
 		</div>
 	</header>
 	<!-- HOME -->
 	<section class="home bloco scrollspy" id="home">
 		<div class="row container banner">
	 			<div class="col s12 center">
	 			<h2 class="white-text">A melhor cerveja da região</h2>
	 			<p class="white-text light">Buscando trazer a região sul do piauí um novo conceito em degustação de cerveja. A cervejaria schmidt é a melhor para você!</p>
	 			<div class="row">
  	 					<!-- <a class="btn btn-large blue-logo">Cadastrar Cliente</a>
  	 					<a class="btn btn-large white black-text">Cadastrar Produto</a>
              <a class="btn btn-large white black-text">Entrar na sessão</a> -->
	 			</div>	
 			</div>
 		</div>
 		
 	</section>

  <!-- SOBRE -->
  	<section class="sobre bloco scrollspy" id="sobre">

  		<div class="row container">
  			<div class="col s12 center">
  				<h2 class="light">SOBRE NÓS</h2>
  			</div>

  			<div class="col s12 l6">
  				<p class="light "> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
  				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
  				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
  				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
  				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
  				proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
  				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
  				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
  				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
  				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
  				proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  				
  			</div>
  			
  			<div class="col s12 l6">
  				<div class="carousel carousel-slider" data-indicators="true">
  					<a href="#" class="carousel-item"><img src="img/bg.jpg"></a>
  				
  					
  				</div>
  				
  			</div>
  		</div>

  		<div class="row blue-logo missao-visao-valores">
  				<div class="container">
  					<article class="item col s12 m4 center">
  						<span class="icon"><i class="material-icons medium">directions_run</i></span>
  						<h2 class="light">MiSSÃO</h2>
  						<p class="light">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
  						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
  						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
  						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
  						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
  						proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  					</article>

  					<article class="item col s12 m4 center">
  						<span class="icon"><i class="material-icons medium">visibility</i></span>
  						<h2 class="light">Visão</h2>
  						<p class="light">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
  						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
  						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
  						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
  						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
  						proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  					</article>

  					<article class="item col s12 m4 center">
  						<span class="icon"><i class="material-icons medium">grade</i></span>
  						<h2 class="light">Valores</h2>
  						<p class="light">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
  						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
  						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
  						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
  						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
  						proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  					</article>
  					
  				</div>
  		</div>
  		


  	</section>
 <!-- JQUERY -->
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> 

 <!-- MATERIALIZE JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <!-- JAVASCRIPT -->

    <script>
    	//inicializaçao++
    	$(document).ready(function(){
    		//LINK INTERNO
    		$(".scrollspy").scrollSpy({
    			scrollOffset: 0
    		});
    		//Carousel
    		$(".carousel.carousel-slider").carousel({
    			fullWidth:true
    		})
    	});

    	// Adicionando navcolor

    	$(window).on("scroll", function() {
    		if($(window).scrollTop()>100){
    			$(".navbar").addClass("nav-color");
    		}else{
    			$(".navbar").removeClass("nav-color");
    		}
    	})
    </script>

 </body>
 </html>